/* Edit.module.css */

.editContainer {
    display: flex;
    align-items: center;
  }
  
  .textField {
    flex-grow: 1;
    margin-right: 8px;
  }
  
  .button {
    margin-left: 8px;
  }
  /* <span className={styles.todo}>{todo.todo}</span> */

  