.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 95vh;
    background-color: black;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    height: fit-content;
    padding: 2rem;
    padding-bottom: 4rem;
    gap: 1rem;
    border-radius: 20px;
    background-color: rgb(116, 114, 114);
    color: black;
}

.formHead {
    font-size: 2rem;
    text-decoration: underline .3rem;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.input {
    width: 20vw;
    height: 2vh;
    padding: 1rem;
    /* background-color: rgb(116, 114, 114); */
    border-left: 6px solid;
    border-bottom: 6px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    font-family: cursive;
}

.input::placeholder {
    color: rgb(119, 118, 118);
    font-family: cursive;
    font-weight: 900;
}

.input:hover {
    background-color: lightpink;
}

.btn {
    padding: .8rem;
    width: 10vw;
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover {
    color: green;
    border: 2px solid white;
}

.error {
    color: red;
    font-family: cursive;
    font-weight: 500;
}